input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media (max-width: 768px) {
    img[title="Villa Aurora Owner doing Saranghe"] {
        display: none;
    }
}
